<html ng-app="Catalyst">
<head>
    <title>Catalyst</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link href="~/css/flex.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/sideNav.css" rel="stylesheet" />
    <link href="~/css/modals.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account">
    <div class="container-fluid">
        <div class="row">
            <div ng-controller="NavController as nav" class="col-md-2 sideNav flex-column">
                <div class="navProfile display-flex flex-row align-center">
                    <img src="~/images/faceshot.jpg" class="img-circle img-responsive" style="max-width: 18%" />
                    <b>{{account.getUserName()}}</b>
                </div>
                <ul class="navList">
                    <li ng-class="nav.NavService.setCurrentPageStyle('dashboard')" ui-sref="dashboard">Dashboard</li>
                    <li ng-class="nav.NavService.setCurrentPageStyle('warehouses')" ui-sref="warehouses">Warehouses</li>
                    <li ng-class="nav.NavService.setCurrentPageStyle('employees')" ui-sref="employees">Employees</li>
                    <li ng-class="nav.NavService.setCurrentPageStyle('items')" ui-sref="items">Items</li>
                </ul>
            </div>
            <div class="col-md-10 flex-column">
                <div class="navProfile"></div>
                <ui-view></ui-view>
            </div>
        </div>
    </div>

    <!-- Library Files -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/es6-promise/es6-promise.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- App Files-->
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/interfaces/interfaces.js"></script>
    <script src="~/ngApp/filters/filters.js"></script>

    <!-- Services -->
    <script src="~/ngApp/services/services.js"></script>
    <script src="~/ngApp/services/navService.js"></script>
    <script src="~/ngApp/services/modalService.js"></script>

    <!-- Controllers -->
    <script src="~/ngApp/controllers/controllers.js"></script>
    <script src="~/ngApp/controllers/navController.js"></script>
    <script src="~/ngApp/controllers/modalController.js"></script>

    <!-- Security -->
    <script src="~/ngApp/controllers/accountcontroller.js"></script>
    <script src="~/ngApp/services/accountservice.js"></script>

</body>
</html>
