<html ng-app="Catalyst">
<head>
    <title>Catalyst</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/flex.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/sideNav.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account">
    <div class="container-fluid">
        <div class="row">
            <div ng-controller="NavController as nav" class="col-md-2 sideNav flex-column">
                <div class="navProfile"><b>{{account.getUserName()}}</b></div>
                <ul class="navList">
                    <li ng-class="nav.NavService.setCurrentPageStyle('home')" ui-sref="home">Home</li>
                    <li ng-class="nav.NavService.setCurrentPageStyle('warehouses')" ui-sref="warehouses">Warehouses</li>
                    <li ng-class="nav.NavService.setCurrentPageStyle('employees')">Employees</li>
                    <li ng-class="nav.NavService.setCurrentPageStyle('items')">Items</li>
                </ul>
            </div>
            <div class="col-md-10">
                <ui-view></ui-view>
            </div>
        </div>
    </div>

    <!-- Library Files -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
    <script src="~/ngApp/controllers/navController.js"></script>
    <script src="/ngapp/services/services.js"></script>
    <script src="~/ngApp/services/navService.js"></script>


    <!-- Security -->
    <script src="/ngapp/controllers/accountcontroller.js"></script>
    <script src="/ngapp/services/accountservice.js"></script>

</body>
</html>
