.employees-modal {
    height: 80%;
    background-color: #1f1f1f;
    padding: 2%;
    color: gray;
}

.employees-modal-form {
    height: 100%;
    width: 100%;
}

.employees-modal-form input {
    border: 0;
    border-bottom: 1px solid gray;
    background-color: #1f1f1f;
    color: #cccccc;
}

.positive-button {
    background-color: #1f1f1f;
    border: 1px solid grey;
    height: 8%;
    width: 15%;
}

.negative-button {
    background-color: #1f1f1f;
    border: 1px solid grey;
    width: 15%;
    height: 8%;
}

.positive-button:hover{
    background-color: #00ff90;
    color: #1f1f1f;
    border: 1px solid #1f1f1f;
}

.negative-button:hover{
    background-color: #ff6666;
    color: #1f1f1f;
    border: 1px solid #1f1f1f;
}

 .employees-modal div img {
     height: 40%;
     width: 40%;
 }

 .profile-modal-header h3 {
     margin: 0;
     padding-left: 10%;
 }
