body {
    background-color: #1f1f1f;
    color: #cccccc;
    font-family: 'Raleway', sans-serif;
}

h1{
    margin-top: 0;
}

.primary-container {
    padding: 5%;
}

.accent-font-color {
    color: #00ff90;
}

.col-md-10{
    padding: 0 3%;
}

.dashboard-item {
    width: 90%;
    height: 35%;
    margin: 2% 2% 1.5% 2%;
    border: 1px solid #262626;
    border-radius: 2%;
}

.dashboard-icon {
    height: 100%;
    width: 5%;
    margin-right: 3%;
    font-size: 32pt;
    color: #00ff90;
}

.dashboard-item-header {
    margin-top: 2%;
    margin-left: 2%;
    height: 35%;
}

.dashboard-item-header div {
    width: 100%;
}

.dashboard-item-header h3, h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.dashboard-item-header div h5 {
    margin-top: 0%;
    margin-left: 3%;
}

.new-account-btn {
    cursor: pointer;
    text-decoration: underline;
}

.employee-table {
    margin-top: 4%;
}

.employee-table tbody tr td {
    border-top: 0;
    border-bottom: 1px solid #262626;
}

.employee-table tbody tr:first-child {
    color: #00ff90 !important;
    background-color: #1f1f1f !important;
    cursor: default !important;
}

.employee-table tbody tr:hover {
    /*color: #00ff90;*/
    background-color: #262626;
    cursor: pointer;
}

.employee-search {
    background-color: #1f1f1f;
    border: 0;
    border-bottom: 1px solid #262626;
    color: white;
}

.employee-search:focus {
    outline-width: 0;
    border-bottom: 1px solid #00ff90;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.half-width{
    width: 50%;
}

.half-height{
    height: 50%;
}

.height-80{
    height: 80%;
}

.width-80{
    width: 80%;
}

.fill{
    height: 100%;
    width: 100%;
}

.fill-half{
    height: 50%;
    width: 50%;
}
