<div class="employees-modal display-flex flex-column">
    <div style="border-bottom: 1px solid #00ff90">
        <h1>New Employee</h1>
    </div>
    <div class="employees-modal-form display-flex flex-column justify-space-around" >
        <input class="" placeholder="Employee number" />
        <input class="" placeholder="First name" />
        <input class="" placeholder="Last name" />
        <input class="" placeholder="Email" />
        <input class="" placeholder="Phone number" />
        <input class="" placeholder="Street" />
        <input class="" placeholder="City" />
        <input class="" placeholder="State" />
        <input class="" placeholder="Zip" />
    </div>
    <div>
        <button>Cancel</button>
        <button>Add</button>
    </div>
</div>