<div class="employees-modal display-flex flex-column">
    <div class="display-flex flex-row">
        <!--Image-->
        <img src="~/wwwroot/images/faceshot.jpg" />
        <div class="display-flex flex-column full-width profile-modal-header">
            <h3>{{modal.employee.firstName}}</h3>
            <h3>{{modal.employee.lastName}}</h3>
        </div>
    </div>
    <div>

    </div>
    <div>
        <button class="negative-button" ng-click="modal.closeModal()">Cancel</button>
    </div>
</div>